@import "~src/styles/core/variables/variables";
@import "~src/styles/core/mixins/mixin-focus-variant";
@import "~src/styles/core/mixins/mixin-flex-variant";
@import "~src/styles/core/mixins/mixin-toolbar-variant";

.ab-tab {
  &__head {
    &__item {
      background-color: var(--toolbar-head-bg);
      padding: $toolbar-spaces;
      cursor: pointer;
      border: 0;
      border-left: $toolbar-head-border solid var(--toolbar-head-border);
      transition: border-color $transition-base;
      text-transform: capitalize;
      display: block;
      @include focus-variant;

      &:active,
      &:hover {
        border-color: var(--toolbar-head-border--active);
      }
    }

    .is-active {
      border-color: var(--toolbar-head-border--active);
      font-family: $font-family-bold;
    }

    // For Desktop & Tablet.
    @media (min-width: $screen-sx) {
      display: flex;

      &__item {
        max-width: $toolbar-head-width;
        border-left: unset;
        border-top: $toolbar-head-border solid var(--toolbar-head-border);
      }
    }
  }

  &__body {
    overflow-y: auto;
    overflow-x: hidden;
    @include focus-variant;

    // Stretch container full screen.
    // For Desktop & Tablet.
    @media (min-width: $screen-sx) {
      display: flex;
      flex: 1;
    }
  }

  &__toolbar {
    @include toolbar-variant(flex-start);
    background-color: var(--toolbar-head-bg);
    padding: $toolbar-spaces;
  }

  &__filter {
    @include toolbar-variant;
    padding: $space-base 0;
    border-top: 1px solid var(--toolbar-border);
  }

  &__wrapper {

    // Stretch container full screen.
    // For Desktop & Tablet.
    @media (min-width: $screen-sx) {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
