@import "~src/styles/core/variables/variables";
@import "~src/styles/core/mixins/mixin-focus-variant";

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  color: var(--body-color);
  line-height: 1.1;
  background-color: var(--body-bg);

  // Stretch container full screen.
  // For Desktop & Tablet.
  @media (min-width: $screen-sx) {
    display: flex;
  }
}

.ab-main {
  padding: $space-base;

  // Stretch container full screen.
  // For Desktop & Tablet.
  @media (min-width: $screen-sx) {
    display: flex;
    flex: 1;

    // TODO: only for DEMO.
    max-width: 1200px;
    margin: 0 auto;
  }
}

strong {
  font-family: $font-family-bold;
}

svg {
  fill: currentColor;
}

[disabled] {
  opacity: .8;
  cursor: default;
  pointer-events: none;
}
