@import "~src/styles/core/variables/variables";
@import "mixin-btn-icon-variant";

.ab-btn--toggle {
  height: $btn-toggle-size;
  width: $btn-toggle-size;
  border-radius: $btn-toggle-radius;
  background-color: var(--btn-toggle-bg);
  @include btn-icon-variant;

  &.is-open {
    .ab-ico {
      transform: rotate(90deg);
    }
  }
}
