[theme='light'] {
  --color-primary: #3864af;
  --color-primary-dark: #0542a9;

  --color-gray-light: #f2f2f2;
  --color-gray: #dedede;
  --color-gray-dark: #717171;
  --color-gray-darker: #212121;

  --color-white: #fff;

  --body-color: var(--color-gray-darker);
  --body-bg: var(--color-white);
}

[theme='dark'] {
  --color-primary: #c04dcd;
  --color-primary-dark: #9c27b0;

  --color-gray-light: #282828;
  --color-gray: #515151;
  --color-gray-dark: #212121;
  --color-gray-darker: #121212;

  --color-white: #f5f5f5;

  --body-color: var(--color-white);
  --body-bg: var(--color-gray-darker);
}

[theme='light'],
[theme='dark'] {

  --bg-zebra: var(--color-gray-light);

  /*
  * Scrollbar.
  */
  --scrollbar-bg: var(--color-primary);

  /*
  * Buttons.
  */
  // Primary.
  --btn-primary-color: var(--color-white);
  --btn-primary-border: var(--color-primary);
  --btn-primary-bg: var(--color-primary);

  --btn-primary-color--action: var(--color-white);
  --btn-primary-border--action: var(--color-primary-dark);
  --btn-primary-bg--action: var(--color-primary-dark);

  // Secondary.
  --btn-secondary-color: var(--color-primary);
  --btn-secondary-border: var(--color-primary);
  --btn-secondary-bg: transparent;

  --btn-secondary-color--action: var(--color-white);
  --btn-secondary-border--action: var(--color-primary);
  --btn-secondary-bg--action: var(--color-primary);

  /*
  * Inputs.
  */
  --input-color: var(--body-color);
  --input-border: var(--color-gray);
  --input-bg: transparent;
  --input-border--action: var(--color-primary);

  /*
  * CheckBox.
  */
  --checkbox-border: var(--color-gray);
  --checkbox-bg: transparetnt;
  --checkbox-icon-checked: var(--color-primary);
  --checkbox-border-checked: var(--color-primary);

  /*
  * Dropdown.
  */
  --dropdown-border: var(--color-gray);
  --dropdown-bg: var(--body-bg);
  --dropdown-bg--action: var(--color-gray-light);

  /*
  * Card.
  */
  --card-border: var(--color-gray);

  /*
  * Tabs.
  */
  --tab-head-bg: var(--color-gray-light);
  --tab-head-border: var(--color-gray);
  --tab-head-border--active: var(--color-primary);

  /*
  * Sidebar.
  */
  --sidebar-bg: var(--body-bg);
  --sidebar-border: var(--color-gray);

  /*
  * Navbar.
  */
  --navbar-border: var(--color-gray);
  --navbar-link--active: var(--color-primary);

  /*
  * Custom Focus.
  */
  --focus-box: var(--color-primary-dark);
}
