@import "../../core/variables/variables";
@import "../../core/mixins/mixin-flex-variant";
@import "../../core/mixins/mixin-focus-variant";

.ab-pagination {
  &__size {
    @include flex-variant(flex, center, center);

    p {
      margin-right: $space-base;
      white-space: nowrap;
    }
  }

  &__nav {
    @include flex-variant(flex, center, center);

    // For Tablet.
    @media (max-width: $screen-sx) {
      padding: $space-base-half 0;
    }
  }

  &__item {
    height: $pagination-item-size;
    min-width: $pagination-item-size;
    margin: $pagination-item-spaces;
    text-decoration: none;
    @include flex-variant(flex, center, center);
    @include focus-variant;

    &:not(.is-active):not(.is-disable) {
      &:hover {
         background-color: var(--pagination-item-bg--acton);
      }
    }

    &.is-active {
      color: var(--pagination-item-color--active);
      background-color: var(--pagination-item-bg--active);
    }
  }

  &__spread {
    color: var(--pagination-spread);
    padding: $pagination-spread-spaces;
    font-size: $pagination-spread-size;
  }

  .ab-ico {
    &--left {
      transform: rotate(180deg);
    }
  }

  // For Desktop & Tablet.
  @media (min-width: $screen-sx) {
    @include flex-variant(flex, space-between, center);
    flex-wrap: wrap;
  }
}

