@import "~src/styles/core/variables/variables";
@import "~src/styles/core/mixins/mixin-flex-variant";

.ab-sort {
  @include flex-variant(flex, start, center);

  &__ico {
    display: flex;
    flex-direction: column;
    margin-left: $space-base-half;
  }

  &__txt {
    flex: 1;
  }

  .ab-ico {
    &--asc {
      transform: rotate(-90deg);
    }

    &--desc {
      transform: rotate(90deg);
    }
  }
}
