<app-tabs [tabs]="accountTabs"
          (selectedTab)="selectTab($event)">
  <ng-container tab-toolbar>
    <ul class="ab-toolbar--tabs">
      <li class="ab-full">
        <h3>BOA Interest Free Checking:&nbsp;&nbsp;*&nbsp;7548</h3>
      </li>
      <li>
        <button app-button
                theme="secondary"
                aria-label="To show account balance history"
                type="button"
                iconName="history">
          account balance history
        </button>
      </li>
      <li>
        <button app-button
                theme="secondary"
                aria-label="To show scheduled transactions"
                type="button"
                iconName="schedule">
          scheduled transactions
        </button>
      </li>
    </ul>
  </ng-container>
  <ng-container tab-body>

    <app-content [data]="data.tableData">
      <ng-container content>
        <app-transaction-cards [data]="data"></app-transaction-cards>
      </ng-container>
      <ng-container no-content>
        <p>No data...</p>
      </ng-container>
    </app-content>

  </ng-container>
</app-tabs>
