<app-tabs [tabs]="accountTabs"
          (selectedTab)="selectTab($event)">
  <ng-container tab-toolbar>
    <ul>
      <li class="ab-full ab-tab__title">
        <h3>BOA Interest Free Checking:&nbsp;&nbsp;*&nbsp;7548</h3>
        <button app-button
                theme="buttonIcon"
                aria-label="To toggle a filter block"
                title="To toggle a filter block"
                (click)="toggleFilter()"
                type="button"
                [class.isActive]="isOpen"
                iconName="filter"></button>
      </li>
      <li>
        <button app-button
                theme="secondary"
                aria-label="To show account balance history"
                type="button"
                iconName="history">
          account balance history
        </button>
      </li>
      <li>
        <button app-button
                theme="secondary"
                aria-label="To show scheduled transactions"
                type="button"
                iconName="schedule">
          scheduled transactions
        </button>
      </li>
    </ul>
  </ng-container>
  <ng-container tab-body>

    <app-content [data]="data.tableData">
      <ng-container content>
        <app-transaction-cards [data]="data"></app-transaction-cards>
      </ng-container>
      <ng-container no-content>
        <p>No data...</p>
      </ng-container>
    </app-content>

  </ng-container>
</app-tabs>

<app-sidebar *ngIf="isOpen"
             sidebarTitle="Filter">
  <ng-container sidebar-body>
    <form>
      <app-search></app-search>

      <app-dropdown [list]="data.tableActions"
                    dropdownTitle="Actions"></app-dropdown>

      <app-dropdown [list]="data.tableFilter"
                    dropdownTitle="Filter"></app-dropdown>

    </form>
  </ng-container>
</app-sidebar>
