<div class="ab-sort">
  <span class="ab-sort__txt">{{name}}</span>
  <div class="ab-sort__ico">
    <button app-button
            class="ab-ico--asc"
            aria-label="To sort the query result set in an ascending order"
            theme="buttonIcon"
            iconName="arrow_right">
    </button>
    <button app-button
            class="ab-ico--desc"
            ariaLabel="To sort the query result set in a descending order"
            theme="buttonIcon"
            iconName="arrow_right">
    </button>
  </div>
</div>
