<main class="ab-main">
  <div class="ab-tab__wrapper">
    <div class="ab-tab__head"
         role="tablist"
         aria-label="Account">
      <button class="ab-tab__head__item is-active"
              role="tab"
              aria-selected="true"
              aria-controls="transactions-tab"
              id="transactions">account transactions
      </button>
    </div>
    <div class="ab-tab__toolbar">
      <ng-container *ngTemplateOutlet="transactionsHead"></ng-container>
    </div>
    <div class="ab-tab__filter">
      <ng-container *ngTemplateOutlet="transactionsFilter"></ng-container>
    </div>
    <div class="ab-tab__body"
         tabindex="0"
         role="tabpanel"
         id="transactions-tab"
         aria-labelledby="transactions">
      <ng-container *ngTemplateOutlet="transactionsBody"></ng-container>
    </div>
  </div>
</main>

<ng-template #transactionsHead>
  <ul>
    <li>
      <h3>BOA Interest Free Checking:&nbsp;&nbsp;*&nbsp;7548</h3>
    </li>
    <li class="ab-full">
      <div class="ab-ico__group">
        <i class="ab-ico ab-ico--primary"
           aria-label="Description of what will happen by clicking on the icon">Ico</i>
        <i class="ab-ico ab-ico--primary"
           aria-label="Description of what will happen by clicking on the icon">Ico</i>
      </div>
    </li>
    <li>
      <button app-button
              theme="secondary"
              iconName="ico"
              type="button">
        account balance history
      </button>
    </li>
    <li>
      <button app-button
              theme="secondary"
              iconName="ico"
              type="button">
        scheduled transactions
      </button>
    </li>
  </ul>
</ng-template>

<ng-template #transactionsFilter>
  <ul>
    <li>
      <app-search></app-search>
    </li>
    <li>
      <app-dropdown [list]="transactionTableActions"
                    dropdownTitle="Actions"></app-dropdown>
    </li>
    <li class="ab-full">
      <app-dropdown [list]="transactionTableFilter"
                    dropdownTitle="Filter"></app-dropdown>
    </li>
  </ul>
</ng-template>

<ng-template #transactionsBody>
  <app-table [columnsList]="transactionTableHeads"
             [bodyList]="transactionTableData">
  </app-table>
</ng-template>

