<main class="ab-main">
  <div class="ab-tab__wrapper">
    <div class="ab-tab__head">
      <a class="ab-tab__head__item is-active">account transactions</a>
      <a class="ab-tab__head__item">account history</a>
    </div>
    <div class="ab-tab__toolbar">
      <ul>
        <li>
          <h3>BOA Interest Free Checking:&nbsp;&nbsp;*&nbsp;7548</h3>
        </li>
        <li class="ab-full">
          <div class="ab-ico__group">
            <i class="ab-ico ab-ico--primary"
               aria-label="Description of what will happen by clicking on the icon">Ico</i>
            <i class="ab-ico ab-ico--primary"
               aria-label="Description of what will happen by clicking on the icon">Ico</i>
          </div>
        </li>
        <li>
          <button app-button
                  theme="secondary"
                  iconName="ico"
                  type="button">
            account balance history
          </button>
        </li>
        <li>
          <button app-button
                  theme="secondary"
                  iconName="ico"
                  type="button">
            scheduled transactions
          </button>
        </li>
      </ul>
    </div>
    <div class="ab-tab__filter">
      <ul>
        <li>
          <app-search></app-search>
        </li>
        <li>
          <app-dropdown [list]="transactionTableActions"
                        dropdownTitle="Actions"></app-dropdown>
        </li>
        <li class="ab-full">
          <app-dropdown [list]="transactionTableFilter"
                        dropdownTitle="Filter"></app-dropdown>
        </li>
      </ul>
    </div>
    <div class="ab-tab__body">
      <app-table [columns]="transactionTableHeads"
                 [body]="transactionTableData">
      </app-table>
    </div>
  </div>
</main>

