@import "~src/styles/core/variables/variables";

:host {
  color: var(--body-color);
  background-color: var(--body-bg);

  // Stretch container full screen.
  display: flex;
  flex-direction: column;
  height: 100vh;
}
