<div class="ab-pagination">
  <nav class="ab-pagination__nav"
       role="navigation"
       aria-label="Table Pagination">

    <button app-button
            class="ab-ico--left"
            theme="buttonIcon"
            ariaLabel="Previous set of pages"
            iconName="double_arrow_right"
            disabled></button>

    <button app-button
            class="ab-ico--left"
            theme="buttonIcon"
            ariaLabel="Previous page"
            iconName="arrow_right"
            disabled></button>

    <a class="ab-pagination__item is-active"
       href="#"
       aria-current="page">
      <span aria-label="Page 1">1</span>
    </a>
    <a class="ab-pagination__item"
       href="#">
      <span aria-label="Page 2">2</span>
    </a>
    <a class="ab-pagination__item"
       href="#">
      <span aria-label="Page 3">3</span>
    </a>
    <span class="ab-pagination__spread">...</span>
    <a class="ab-pagination__item"
       href="#">
      <span aria-label="Page 22">22</span>
    </a>
    <a class="ab-pagination__item"
       href="#">
      <span aria-label="Page 23">23</span>
    </a>
    <a class="ab-pagination__item"
       href="#">
      <span aria-label="Page 24">24</span>
    </a>
    <a class="ab-pagination__item"
       href="#">
      <span aria-label="Page 3">3</span>
    </a>


    <button app-button
            theme="buttonIcon"
            ariaLabel="Next page"
            iconName="arrow_right"></button>

    <button app-button
            theme="buttonIcon"
            ariaLabel="Next set of pages"
            iconName="double_arrow_right"></button>
  </nav>
  <div class="ab-pagination__size">
    <p>Viewing&nbsp;<strong>{{from}}–{{to}}</strong>&nbsp;of&nbsp;<strong>{{totalPages}}</strong></p>
    <button app-button
            ariaLabel="To load more data into a table"
            iconName="load">
      Load more
    </button>
  </div>
</div>

