<div class="ab-dropdown">
  <button class="ab-dropdown__btn"
          aria-haspopup="listbox"
          aria-labelledby="elem exp_button"
          id="exp_button"
          [disabled]="!list.length"
          (click)="toggle()"
          type="button">
    <span>{{dropdownTitle}}</span>
    <svg-icon class="ab-dropdown__ico"
              [class.is-open]="isOpen"
              aria-hidden="true"
              src="assets/icons/arrow_right.svg"></svg-icon>
  </button>
  <ul class="ab-dropdown__menu"
      id="elem_list"
      tabindex="-1"
      role="listbox"
      aria-labelledby="elem"
      *ngIf="isOpen">
    <li class="ab-dropdown__menu__item"
        role="option"
        *ngFor="let item of list">{{item.title}}</li>
  </ul>
</div>
