@import "~src/styles/components/table";
@import "~src/styles/components/buttons/btn-toggle";
@import "~src/styles/components/checkbox";
@import "../../../styles/core/mixins/mixin-toolbar-variant";

:host {

  // Stretch container full screen.
  display: flex;
  flex: 1;
}

.ab-color--red {
  color: red;
}
